@model MovieStoreMvc.Models.Domain.Movie

<div class="movie-detail w-80 m-auto">
    <div class="img-container">
        <!-- Променяме пътя на изображението, за да използва Cloudinary URL -->
        <img alt="image" src="@Model.MovieImage">
    </div>

    <div class="detail-container">
        <h3>@Model.Title</h3>
        <h4>@Model.GenreNames</h4>
        <h4>@Model.ReleaseYear</h4>
        <h4>Cast : @Model.Cast</h4>
        <h4>Director : @Model.Director</h4>
        <h4>Synopsis : @Model.Synopsis</h4>
        <h4>Place to Show : @Model.PlaceToShow</h4>
    </div>
</div>

<!-- Добавяме секция за YouTube трейлър -->
@if (!string.IsNullOrEmpty(Model.YouTubeVideoId))
{
    <div class="movie-trailer w-80 m-auto mt-5">
        <h4>Watch Trailer</h4>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/@Model.YouTubeVideoId" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
}

<div class="w-80 m-auto mt-5">
    <a href="/Home/Index" class="btn btn-default">Back</a>
</div>
